@import '../../../sassStyles/variables';

.mainBtn {
  all: unset;
  cursor: pointer;
  border: 2px solid $yellow-3;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 5px;
  color: $grey-2;

  &--secondary {
    background-color: transparent;
    border-color: $yellow-3;
  }
  &--primary {
    background-color: $yellow-2;
    border-color: $yellow-3;
  }

  &--tertiary {
    background-color: transparent;
    border-color: transparent;
  }
}
